body {
  font-family: "Playpen Sans";
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background-color: #587291;
}

h1 {
  color: #204e4a;
}

.container {
  text-align: center;
  margin-top: 2.5%;
  width: 60%;
  height: 90%;
}

input {
  width: 60%;
  padding: 8px;
  border: solid 3px;
  border-radius: 5px;
}

button {
  padding: 8px;
  border: solid 3px;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

#addTaskBtn {
  background-color: #c5cef0;
}

.complete,
.delete {
  width: 80px;
  border: none;
  border: solid 3px;
  border-radius: 5px;
}

.delete {
  background-color: #ee6352;
}

.complete {
  background-color: #57a773;
}

.completed input {
  text-decoration: line-through;
  color: #57a773;
}

.completed button {
  text-decoration: none;
}
